* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}

.navBar {
  list-style: none;
  display: flex;
}
nav ul li {
  width: 130px;
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.753);
}
.Jobs {
  min-width: 40%;
  margin-left: 59px;
  font-weight: bold;
  font-size: 25px;
  /* margin-top: 10px; */
}
.navi {
  margin-top: 23px;
}
.buTTon {
  padding: 8px;
  width: 112px;
  font-size: 13px;
  margin-top: -17px;
  color: white;
  border-radius: 10px;
  border-color: transparent;
}
.register {
  background-color: rgba(255, 102, 0, 0.886);
}
.login {
  background-color: rgb(9, 245, 9);
}

.hov:hover {
  color: rgba(255, 102, 0, 0.886);
}
.FirstHeading {
  color: white;
}
.heading {
  margin-left: 23px;
  margin-top: 110px;
}
.Firstpara {
  color: rgba(255, 255, 255, 0.694);
  margin: 0px;
  font-size: 15px;
}
.FirstHeading,
.Firstpara {
  margin-left: 20px;
}
.bottomHead {
  background-color: white;
  height: 73px;
  width: 450px;
  border-radius: 8px;
  margin-left: 66px;
  margin-top: 62px;
  padding: 20px;
}
.jobFindForm {
  display: flex;
  align-items: center;
  /* padding: 20px; */
  justify-content: space-around;
}

input[type="text"] {
  border-style: none;
  background-color: transparent;
  width: 115px;
}
.GetStarted{
  background-color: black;
  color: white;
  border-radius: 15px;
  width: 138px;
  height: 55px;
  font-weight: bold;
  
}
form ul li {
  list-style: none;
  margin: -8px 11px -8px 16px;
  width: 161px;
}
form ul li label {
  font-weight: bold;
  height: 3px;
}
::placeholder{
    font-size: 11px;
    
}
/* .wall{
    background-image: url('https://media.istockphoto.com/vectors/dark-red-abstract-blurry-background-vector-id1268618849?k=20&m=1268618849&s=612x612&w=0&h=fUp16V3qFmywZzIK6WL9TAXuuXF1TbGIaiYx82R1HPg=');
    background-size: cover;
} */
