@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}

.navBar {
  list-style: none;
  display: flex;
}
nav ul li {
  width: 130px;
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.753);
}
.Jobs {
  min-width: 40%;
  margin-left: 59px;
  font-weight: bold;
  font-size: 25px;
  /* margin-top: 10px; */
}
.navi {
  margin-top: 23px;
}
.buTTon {
  padding: 8px;
  width: 112px;
  font-size: 13px;
  margin-top: -17px;
  color: white;
  border-radius: 10px;
  border-color: transparent;
}
.register {
  background-color: rgba(255, 102, 0, 0.886);
}
.login {
  background-color: rgb(9, 245, 9);
}

.hov:hover {
  color: rgba(255, 102, 0, 0.886);
}
.FirstHeading {
  color: white;
}
.heading {
  margin-left: 23px;
  margin-top: 110px;
}
.Firstpara {
  color: rgba(255, 255, 255, 0.694);
  margin: 0px;
  font-size: 15px;
}
.FirstHeading,
.Firstpara {
  margin-left: 20px;
}
.bottomHead {
  background-color: white;
  height: 73px;
  width: 450px;
  border-radius: 8px;
  margin-left: 66px;
  margin-top: 62px;
  padding: 20px;
}
.jobFindForm {
  display: flex;
  align-items: center;
  /* padding: 20px; */
  justify-content: space-around;
}

input[type="text"] {
  border-style: none;
  background-color: transparent;
  width: 115px;
}
.GetStarted {
  background-color: black;
  color: white;
  border-radius: 15px;
  width: 138px;
  height: 55px;
  font-weight: bold;
}
form ul li {
  list-style: none;
  margin: -8px 11px -8px 16px;
  width: 161px;
}
form ul li label {
  font-weight: bold;
  height: 3px;
}
::placeholder {
  font-size: 11px;
}
/* .wall{
    background-image: url('https://media.istockphoto.com/vectors/dark-red-abstract-blurry-background-vector-id1268618849?k=20&m=1268618849&s=612x612&w=0&h=fUp16V3qFmywZzIK6WL9TAXuuXF1TbGIaiYx82R1HPg=');
    background-size: cover;
} */

.headline {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 100px;
}
.secondHeading,
.thirdHeading {
  margin-left: 10px;
}
.secondHeading {
  color: rgba(255, 102, 0, 0.886);
  text-decoration: underline;
}
.headingPara {
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.694);
}

.firstWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 103px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.firstContain,
.secondContain,
.thirdContain,
.fourthContain,
.fifthContain,
.sixContain,
.sevenContain {
  width: 193px;
  height: 113px;
  border-radius: 15px;
  background-color: white;
  color: black;
  padding: 5px;
}
.eightContain {
  width: 193px;
  height: 113px;
  border-radius: 15px;
  background-color: rgba(255, 102, 0, 0.886);
  color: white;
  padding: 5px;
}

.firstWrapper .firstContain p {
  font-size: 10px;
}
.firstWrapper .firstContain h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.firstWrapper .secondContain p {
  font-size: 10px;
}
.firstWrapper .secondContain h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.firstWrapper .thirdContain p {
  font-size: 10px;
}
.firstWrapper .thirdContain h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.firstWrapper .fourthContain p {
  font-size: 10px;
}
.firstWrapper .fourthContain h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.firstWrapper .fifthContain p {
  font-size: 10px;
}
.firstWrapper .fifthContain h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.firstWrapper .sixContain p {
  font-size: 10px;
}
.firstWrapper .sixContain h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.firstWrapper .sevenContain p {
  font-size: 10px;
}
.firstWrapper .sevenContain h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.firstWrapper .eightContain h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.dataIcon {
  margin: 15px 0 0px 15px;
  font-size: 35px;
  display: inline;
  color: orange;
}
.firpara {
  display: inline;
  margin-left: 10px;
  position: relative;
  left: -2px;
  bottom: 14px;
  color: rgba(28, 27, 27, 0.911);
}
.thipara {
  position: relative;
  left: 44px;
  bottom: 36px;
  color: rgba(28, 27, 27, 0.911);
}
.secpara {
  position: relative;
  left: 113px;
  bottom: 17px;
}
.headInGrid {
  position: relative;
  left: 3px;
  bottom: 35px;
  color: rgba(28, 27, 27, 0.911);
}
.firstEight {
  position: relative;
  left: 21px;
  bottom: -15px;
}
.secondEight {
  position: relative;
  left: 21px;
  bottom: -18px;
}
.thirdEight {
  position: relative;
  left: 127px;
  bottom: 14px;
}
.fourthEight {
  position: relative;
  left: 21px;
  bottom: 24px;
}
.dataIconEight {
  font-size: 25px;
  color: white;
}
.advertisment{
  height: 550px;
  width: 1100px;
  background-color: white;
  color: black;
  padding: 500px;
}
.aboutUs{
  display: flex;
  color: white;
  justify-content: center;
  margin-top: 140px;

}
.aboutusHead1, .aboutusHead{
  font-size: 25px;
}
.aboutusHead{
  margin-left: 10px;
  color: rgba(255, 102, 0, 0.886);
  
}

.containerBox .containerHead h2{
  color:rgba(255, 102, 0, 0.886) ;
  font-family: "Roboto", sans-serif;
}
.containerBox .containerHead p{
  color: white;
  font-family: "Roboto", sans-serif;
  width: 50%;
  margin-top: 20px;
}
.containerBox{
  margin: 90px 0px 0px 49px;
}
.conatinerMiddle{
  display: flex;
  color: white;
}
.ro{
  display: flex;
  color: rgb(255, 183, 0);
}

.ro{
  font-size: 70px;
  color: rgb(255, 183, 0);
}
.containerBox .conatinerMiddle .rocket h4{
  position: relative;
  left: 87px;
  bottom: 78px;
}
.containerBox .conatinerMiddle .rocket p{
  position: relative;
  left: 87px;
  bottom: 78px;
  width: 70%;
  color: rgba(255, 255, 255, 0.694);
}
.containerBox .conatinerMiddle .bulb h4{
  position: relative;
  left: 87px;
  bottom: 78px;
}
.containerBox .conatinerMiddle .bulb p{
  position: relative;
  left: 87px;
  bottom: 78px;
  width: 70%;
  color: rgba(255, 255, 255, 0.694);
}
.bulb{
  margin: 0 285px 0 0;
}
.conatinerMiddle{
  margin: 81px 0 0 0;
}
.containerSide{
 
  height: 400px;
  /* width: 132px; */
  display: flex;
  position: relative;
  left: 769px;
  bottom: 430px;
}
.containerHead, .conatinerMiddle{
  width: 70%;
}
.bottomSecond{
  margin-top: -330px;
}
.bottomSecond h3{
  text-align: center;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 102, 0, 0.886);
  
}
.firstBox, .secondBox, .thirdBox{
  border: 4mm solid rgb(115, 112, 112);
  width: 25%;
  height: 230px;
  color: rgba(255, 255, 255, 0.694);
  background-color: rgb(65, 63, 63);
  border-radius: 30px;
  margin-left: 40px;
  margin-top: 70px;
  

}
.bottomSecond .boxes .firstBox .boxHead{
  display: inline;
  font-size: 46px;
  margin-left: 8px;
}
.bottomSecond .boxes .secondBox .boxHead{
  display: inline;
  font-size: 46px;
  margin-left: 8px;
}
.bottomSecond .boxes .thirdBox .boxHead{
  display: inline;
  font-size: 46px;
  margin-left: 8px;
}
.bottomSecond .boxes2 .firstBox .boxHead{
  display: inline;
  font-size: 46px;
  margin-left: 8px;
}
.bottomSecond .boxes2 .secondBox .boxHead{
  display: inline;
  font-size: 46px;
  margin-left: 8px;
}
.bottomSecond .boxes2 .thirdBox .boxHead{
  display: inline;
  font-size: 46px;
  margin-left: 8px;
}
.boxPara{
    position: relative;
    left: 15px;
    bottom: 47px;
    font-size: 12px;
    margin-left: 10px;
    width: 90%;
}
.use{
  position: relative;
  border: 4px solid rgba(255, 102, 0, 0.886);
  background-color: white;
  width: 40px;
  height: 40px;
  font-size: 20px;
  left: 160px;
  bottom: 44px;
  color: rgba(255, 102, 0, 0.886);
  border-radius: 21px;
  text-align: center;
  padding: 5px;
}
.boxHead2{
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: -36px;

}
.boxPara2{
  text-align: center;
  color: rgba(255, 255, 255, 0.694);
  font-size: 10px;
  margin-top: -8px;
}
.boxes{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.boxes2{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.text-white{
  color: rgb(228, 228, 228);
}
.text-black{
  color: black;
}
.text-bold{
  font-weight: bold;
}
.font1{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: smaller;

}
.font2{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
/* <--------------------------*--------------------------> */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

footer{
  max-height: 500px;
  background-color: rgb(235,95,35);
  margin-top: 100px;
  border-radius: 5px;
}

.foot{
  
  display: flex;
  padding: 0px 30px;
  justify-content: space-between;
}
.desc{
  max-width: 20vw;
  margin: 30px 50px 0px 30px;
  
}
.desc p{
  margin-top: 30px;
  
}
.employers-zone{
  max-width: 300px;
  margin-top: 30px;
}
.contact{
max-width: 20vw;
margin-top: 30px;
}
.contact h2{
  padding-left: 13px;
}
.contact-text{
  margin-bottom: 3px;
}
.useful-links{
  width: 20vw;
  margin-top: 30px;
}
.icons svg{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.items-1{
  display: flex;
  flex-direction: column;
  margin: 40px 0px;

}
.items-1 span{
  margin: 5px;
}
.items-2{
  margin: 40px 0px;
}
.items-2 div{
  margin: 15px;
}
.items-3{
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
}
.items-3 span{
  margin: 5px;
}
.foot2{
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.left{
  margin: 0 0px 0 60px;
  display: flex;
  flex-direction: column;
justify-content: space-around;
}

.right21 a{
  color: black;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-right: 11vw;

}
.empty{
  min-height: 60px;
}
